.marketing {
    font-size: 36px;
}

.error {
    color: red;
}

.current-step {
    font-weight: bold;
}

.stage {
    border: 1px solid gray;
    padding: 20px;
    margin: 10px 0 10px;
    color: gray;
}

.stage-active {
    border: 2px solid green;
    padding: 20px;
    margin: 10px 0 10px;
    color: green;
    font-weight: bold;
}